android/bin
*.a
*.d
*.o
android/jni/.libs
android/jni/vpx.pc
android/jni/.bins
android/jni/.docs
*.so
android/libs
android/obj
ios/libvpx/.docs
ios/libvpx/.libs
ios/libvpx/.bins
vpx.pc
win/Debug
win/codec2/Release
win/codec2/Debug
*.user
*.ncb
*.suo
win/libvpx/.libs
win/libvpx/.nodevenv.once
win/libvpx/.projects
win/libvpx/.bins
win/libvpx/.docs
win/libvpx/Win32
win/libyuv/Debug
win/libyuv/Release
win/opus/Release
win/opus/Debug
win/oslec/Debug
win/oslec/Release
win/Release
win/Win32
BuildConfig.java
android/vp8_rtcd.h
android/vpx_scale_rtcd.h
android/vpx_version.h
android/jni/armeabi/ads2gas/libvpx/vp8/encoder/arm/armv5te/boolhuff_armv5te.asm.s
android/jni/armeabi/ads2gas/libvpx/vp8/encoder/arm/armv5te/vp8_packtokens_armv5.asm.s
android/jni/armeabi/ads2gas/libvpx/vp8/encoder/arm/armv5te/vp8_packtokens_mbrow_armv5.asm.s
android/jni/armeabi/ads2gas/libvpx/vp8/encoder/arm/armv5te/vp8_packtokens_partitions_armv5.asm.s
android/jni/armeabi/ads2gas/vp8_asm_enc_offsets.asm
android/jni/armeabi/ads2gas/vp8_asm_enc_offsets.c.S
/win/libvpx/*.obj
