android/bin
*.d
*.o
android/jni/.libs
android/jni/vpx.pc
android/jni/.bins
android/jni/.docs
android/obj
ios/libvpx/.docs
ios/libvpx/.libs
ios/libvpx/.bins
vpx.pc
win/Debug
win/codec2/Release
win/codec2/Debug
*.user
*.ncb
*.suo
win/libvpx/.libs
win/libvpx/.nodevenv.once
win/libvpx/.projects
win/libvpx/.bins
win/libvpx/.docs
win/libvpx/Win32
win/libyuv/Debug
win/libyuv/Release
win/opus/Release
win/opus/Debug
win/oslec/Debug
win/oslec/Release
win/Release
win/Win32
ios/libvpx/libvpx.a
ios/libvpx/libvpx_g.a
BuildConfig.java
/android/gen/com/aeonsoftech/guruchat/R.java
